@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.home {
  background: #fff;
  padding-top: 30px;
}

/* navbar style  */
.navbar {
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.logo > h2 {
  font-size: 32px;
  font-weight: 600;
}

.logo span {
  background: #458ff6;
  border-radius: 50%;
  padding: 5px 20px;
  color: #ffffff;
  margin-right: 10px;
  font-size: 35px;
}

.navbar .nav-list {
  display: flex;
  gap: 15px;
}

.nav-list > a {
  text-decoration: none;
  color: #1f1534;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}

.nav-list > a.active {
  color: #1f1534;
  font-weight: 550;
}

.nav-list > a:hover {
  border-bottom: 2px solid #1f1534;
}

/* home content style  */
.home-content {
  display: flex;
  margin: 80px 0;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.home-content .left-content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.left-content > h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
}

.left-content > p {
  font-size: 16px;
  color: #7d7987;
}

.left-content > a {
  background: #458ff6;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  border-radius: 25px;
  margin-top: 10px;
  transition: 0.3s;
}

.left-content > a:hover {
  background: #2568c4;
  transform: translateX(5px);
}

/* section service */
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/Frame7.png");
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position: left;
}

.service .service-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 950px;
  text-align: center;
  gap: 10px;
}

.service-head > h1 {
  border-bottom: 2px solid #000000;
  padding-bottom: 10px;
  font-weight: 550;
}

.service-head > p {
  color: #7d7987;
  margin-top: 30px;
}

.service .service-card-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0 300px;
  margin-top: 50px;
}

.service-card-box .card {
  background: #ffffff;
  box-shadow: 0 1px 10px 1px #45434333, 0 1px 2px 0 #47474730;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
}

.card > h2 {
  margin-top: 5px;
  color: #000000;
  font-weight: 550;
}

.card > p {
  color: #7d7987;
}

.service .btn {
  margin-top: 50px;
}

.service .btn > a {
  color: #458ff6;
  border: 1px solid #458ff6;
  border-radius: 25px;
  padding: 10px 30px;
  text-decoration: none;
  transition: 0.3s;
}

.service .btn > a:hover {
  background: #458ff6;
  color: #ffffff;
}

/* section leading */
.leading-content {
  display: flex;
  height: 800px;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.leading-content .left {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.left > h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
}

.left > p {
  font-size: 16px;
  color: #7d7987;
}

.left > a {
  border: 1px solid #458ff6;
  color: #458ff6;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  border-radius: 25px;
  margin-top: 10px;
  transition: 0.3s;
}

.left > a:hover {
  transform: translateX(5px);
}
/* download section */
.download-content {
  display: flex;
  margin: 80px 350px;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.download-content .dn-left-content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.dn-left-content > h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
}

.dn-left-content > p {
  font-size: 16px;
  color: #7d7987;
}

.dn-left-content > a {
  background: #458ff6;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  border-radius: 25px;
  margin-top: 10px;
  transition: 0.3s;
}

.dn-left-content > a:hover {
  background: #2568c4;
  transform: translateX(5px);
}

/* section cutomer */

.customer {
  background: linear-gradient(to right, #5a98f2, #67c3f3);
  margin: 0 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 50px 0;
  color: white;
  margin-bottom: 100px;
}

.customer h1 {
  font-weight: 550;
}

.customer p {
  color: #ffffffe5;
  width: 400px;
}

.customer .review {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
  margin: 30px 50px;
}

.review .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  margin-left: 30px;
}

/* articale section style */
.articale {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/element-2.png");
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position: right;
}

.articale > h1 {
  font-weight: 550;
}

.articale > a {
  text-decoration: none;
  color: #458ff6;
  padding: 10px 40px;
  border-radius: 40px;
  border: 1px solid #458ff6;
  margin: 50px 0;
  transition: 0.3s;
}

.articale > a:hover {
  transform: translateY(-3px);
}

.articale .articale-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 150px;
  gap: 25px;
}

.articale-box .articale-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 40px;
  box-shadow: 0 1px 10px 1px #45434333, 0 1px 2px 0 #47474730;
  background: #fff;
}

.articale-card > img {
  width: 100%;
}

.articale-card .articale-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 15px;
}

.articale-text > h2 {
  color: #000000;
  font-weight: 500;
}

.articale-text > p {
  color: #7d7987;
}

.articale-text > a {
  text-decoration: none;
  color: #4089ed;
  transition: 0.4s;
}

.articale-text > a:hover {
  transform: translateX(8px);
}

/* footer section  */
.footer {
  background-image: url("images/element.png"),
    linear-gradient(to top, #5a98f2, #67c3f3);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  gap: 100px;
  padding: 100px 0;
}

.footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 400px;
}

.footer-content > h2 {
  color: #ffffff;
  font-weight: 550;
}

.footer-content > h2 > span {
  background: #ffffff;
  padding: 7px 17px;
  border-radius: 50%;
  color: #5a98f2;
  margin-right: 10px;
}

.footer-content > p {
  color: #ffffff;
  font-weight: 250;
  margin-top: 20px;
}

.footer .footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 800px;
}

.footer .footer-company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  color: #ffffff;
  gap: 20px;
}

.footer-company > h3 {
  font-weight: 550;
}

.footer-company .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-company .list > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 250;
}

.footer .footer-region {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  color: #ffffff;
  gap: 20px;
}

.footer-region > h3 {
  font-weight: 550;
}

.footer-region .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-region .list > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 250;
}

.footer .footer-help {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  color: #ffffff;
  gap: 20px;
}

.footer-help > h3 {
  font-weight: 550;
}

.footer-help .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-help .list > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 250;
}
